<h1>Listing stadias</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stadias.each do |stadium| %>
  <tr>
    <td><%= stadium.name %></td>
    <td><%= link_to 'Show', stadium %></td>
    <td><%= link_to 'Edit', edit_stadium_path(stadium) %></td>
    <td><%= link_to 'Destroy', stadium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stadium', new_stadium_path %>
