<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<h1>History</h1>


<div>
	<table class ="order_list">
	  <tr>
		<td><img src="/images/name2.png"></td><td>&nbsp</td>
		<td><img src="/images/email2.png"></td><td>&nbsp</td>
		<td><img src="/images/product2.png"></td><td>&nbsp</td>
		<td><img src="/images/quantity2.png"></td><td>&nbsp</td>
		<td><img src="/images/total2.png"></td><td>&nbsp</td>
		<td><img src="/images/paytype2.png"></td><td>&nbsp</td>
		<td><img src="/images/time2.png"></td>
	  </tr>
      <% @line_items.each do |line_item| %>
	  <tr>
		<td><%= line_item.order.name %></td><td>&nbsp</td>
		<td><%= line_item.order.email %></td>		<td>&nbsp</td>
	    <td><%= line_item.product.title %></td><td>&nbsp</td>
		<td><%= line_item.quantity %></td><td>&nbsp</td>
		<td><%= number_to_currency(line_item.total_price) %></td><td>&nbsp</td>	
		<td><%= line_item.order.pay_type %></td><td>&nbsp</td>
		<td><%= line_item.order.time.strftime('%d/%m/%y | %R') %></td>	
	    	
	  </tr>
	<% end %>
	</table>
</div>

<br />

