<div class="depot_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<table>
		<tr>
			<td><img src="/images/name.png"></td>
			<td><%= f.text_field :name, :size => 40 %></td>
		</tr>
		<tr>
			<td><img src="/images/password.png"></td>
			<td><%= f.password_field :password, :size => 40 %></td>
		</tr>
		<tr>
			<td><img src="/images/confirm2.png"></td>
			<td><%= f.password_field :password_confirmation, :size => 40 %></td>
		</tr>
	</table>
	
	<table>
		<tr>
			<td><%= image_submit_tag("createuser.png") %></td>
			<td><%= link_to image_tag("show.png"), @user %></td>
			<td><%= link_to image_tag("back.png"), users_path %></td>
		</tr>
	</table>

	


<!-- <fieldset>

  <div>
    <%= f.label :name %>:
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'Confirm' %>:
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  <div>
    <%= image_submit_tag("createuser.png") %>
  </div>
</fieldset> -->

<% end %>
</div>