<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<h1>Listing users</h1>

<!-- <p id="notice"><%= notice %></p> -->

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to image_tag("show.png", :border => 0), user %></td>
    <td><%= link_to image_tag("edit.png", :border => 0), edit_user_path(user) %></td>
    <td><%= link_to image_tag("destroy.png", :border => 0), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag("newuser.png", :border => 0), new_user_path %>
