
<table>
	<tr>
 	 <td><img src="/images/name.png"/></td>
	 <td><%= @user.name %></td>
    </tr>
</table>

<table>
	<tr>
 	 <td><img src="/images/password.png"/></td>
	 <td><%= @user.hashed_password %></td>
    </tr>
</table>

<!-- <p>
  <b>Salt:</b>
  <%= @user.salt %>
</p> -->


<%= link_to image_tag("edit.png"), edit_user_path(@user) %>
<%= link_to image_tag("back.png"), users_path %>
