<h1>Thanks for your order!</h1>

See order details below. <br /><br />
If correct, please click "Confirm" <br />
at the bottom of this page. <br />
<br />
Enjoy! <br />

<table>
	<tr><td>Name</td><td><%= @order.name %></td></tr>


<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Seat Location:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<%= link_to 'Confirm', thanks_url %>

<!-- <%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> -->
