Thank you for placing you order! Please see below for your order information. If your order is correct, please click "Confirm" at the bottom of this page and your order will be processed. Thank you!

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Seat Location:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<%= link_to 'Confirm', thanks_url %>

<!-- <%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> -->
