<h1>Please confirm order.</h1>


<table class="confirmation">
	<tr><td><BD>Name:</BD></td><td><%= @order.name %></td></tr>
	<tr><td><BD>Seat:</BD></td><td><%= @order.address %></td></tr>
	<tr><td><BD>Email:</BD></td><td><%= @order.email %></td></tr>
	<tr><td><BD>Pay Type:</BD></td><td><%= @order.pay_type %></td></tr>
	<p>

</table>	
	
</br>

	<td><%= link_to image_tag("confirm.jpg", :border =>0), thanks_url, :method => :get%></td>
	<td><%= link_to image_tag("edit_details.png", :border =>0),edit_order_path(@order) , :method => :get%></td>


