Thank you for your order!<br />
<br />
See order details below. <br />
If correct, please click "Confirm" <br />
at the bottom of this page. <br />
<br />
Enjoy! <br />

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Seat Location:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<%= link_to 'Confirm', thanks_url %>

<!-- <%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> -->
