<h1>Please confirm order!</h1>


<table class="confirmation">
	<tr><td><BD>Name:</BD></td><td><%= @order.name %></td></tr>
	<tr><td><BD>Seat:</BD></td><td><%= @order.address %></td></tr>
	<tr><td><BD>Email:</BD></td><td><%= @order.email %></td></tr>
	<tr><td><BD>Pay Type:</BD></td><td><%= @order.pay_type %></td></tr>
</table>	
	
</br>
<%= link_to 'Confirm', thanks_url %> |

<%= link_to 'Edit', edit_order_path(@order) %>

