<h1>Your Cart</h1>
	
<table class="cart_table" width="35%">
	<%= render(@cart.line_items) %>
	
	<tr class="total_line"><font color="Midnightblue" face="Arial Black">
		</br>
		<IT><BD><td colspan="2">Total</td></IT></BD>
		<td class="total_cell">
			<IT><BD><%= number_to_currency(@cart.total_price) %></BD></IT></font>
		</td>
	</tr>
	
</table>

<table width="5%">
	<tr class"buttons">
		<td><%= button_to 'Empty cart', @cart, :method => :delete,
:confirm => 'Are you sure you wish to empty cart?' %></td>

		<td><%= button_to 'Order More', store_index_url, :method => :get %></td>

		<td><%= button_to 'Proceed to Checkout', new_order_url, :method => :get %></td>
	</tr>
</table>

