<h1>Your Cart</h1>
	
<table class="cart_table" width="500">
	<%= render(@cart.line_items) %>
	
	<tr class="total_line"><font face="Arial Black">
		</br>
		<IT><BD><td colspan="2">Total</td></IT></BD>
		<td class="total_cell">
			<IT><BD><%= number_to_currency(@cart.total_price) %></br></br></BD></IT></font>
		</td>
	</tr>
	
</table>

<table width="5%">
	<tr class"buttons">
		<td><%= link_to image_tag("proceed_to_checkout.jpg", :border =>0), new_order_url, :method => :get%></td>
		<td><%= link_to image_tag("order_more.jpg", :border =>0), store_index_url, :method => :get%></td>	

		<td><%= link_to image_tag("empty_cart.jpg", :border =>0), @cart, :method => :delete,
:confirm => 'Are you sure you wish to empty cart?'%></td>
	
	</tr>
</table>

