<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Cardholder Name:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number, "Card Number:" %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :address, "Street Address:"%><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :expiration, "Exp (mm/yy)"%><br />
    <%= f.text_field :expiration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
