<p id="notice"><%= notice %></p>

<table width="100%">
	<tr>
		<td><%= @stand.name %> </td>

		<td><%= @stand.location %></td>
	</tr>
</table>

<!--<p>
  <%= @stand.name %>
</p>

<p>
  <b>Location:</b>
  <%= @stand.location %>
</p>-->

