<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stand.name %>
</p>

<p>
  <b>Location:</b>
  <%= @stand.location %>
</p>


<%= link_to 'Edit', edit_stand_path(@stand) %> |
<%= link_to 'Back', stands_path %>
