<%= form_for(@product) do |f| %>
	<% if @product.errors.any? %> 
		<div id="error_explanation">
		<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
		<ul> <% @product.errors.full_messages.each do |msg| %>
		<li><%= msg %></li> <% end %> </ul>
		</div> 
	<% end %>
	
	
	<div>
		<div>
			<table>
				<tr>
					<td><img src="/images/title2.png"></td>
					<td><%= f.text_area :title, :rows => 4 %></td>
				</tr>
				<tr>
					<td><img src="/images/description2.png"></td>
					<td><%= f.text_area :description, :rows => 4%></td>
				</tr>
				<tr>
					<td><img src="/images/imageurl2.png"></td>
					<td><%= f.text_area :image_url , :rows => 4%></td>
				</tr>
				<tr>
					<td><img src="/images/price2.png"></td>
					<td><%= f.text_area :price , :rows => 3%></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><%= image_submit_tag("createproduct.png")%></td>
					<td><%= link_to image_tag("show.png"), @product %></td>
					<td><%= link_to image_tag("back.png"), products_path %></td>
				</tr>
			</table>

		<% end %>
	</div>
	
	
	
	

	
