<!-- <p id="notice"><%= notice %></p> -->

<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<h1>Product Details:</h1>

<table>
	<tr>
		<td><img src="/images/title2.png"></td>
		<td><%= @product.title %></td>
	</tr>
	<tr>
		<td><img src="/images/description2.png"></td>
		<td><%= @product.description %></td>
	</tr>
	<tr>
		<td><img src="/images/imageurl2.png"></td>
		<td><%= @product.image_url %></td>
	</tr>
	<tr>
		<td><img src="/images/price2.png"></td>
		<td><%= @product.price %></td>
	</tr>
</table>

<table>
	<tr>
		<td><%= link_to image_tag("edit.png"), edit_product_path(@product) %></td>
		<td><%= link_to image_tag("back.png"), products_path %></td>
	</tr>
</table>


 

