<h1>Items in Queue</h1>

<table>
  <tr>
    <th>Name</th>    <th>&nbsp</th>
	<th>Product</th>    <th>&nbsp</th>
    <th>Quantity</th><th>&nbsp</th>
    <th>Status</th>

  </tr>

<% @line_items.each do |line_item| %>
  <tr>
	<td><%= line_item.order.name %></td><td>&nbsp</td>
    <td><%= line_item.product.title %></td><td>&nbsp</td>
	<td><%= line_item.quantity %></td><td>&nbsp</td>
	<td><%= line_item.status %></td><td>&nbsp</td>
	
    <!-- <td><%= link_to 'Show', line_item %></td> -->
    <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
    <td><%= link_to 'Fill', fill_line_item_path(line_item), :method => :post %></td>
    <td><%= link_to 'Archive', archive_line_item_path(line_item), :method => :post %></td>

  </tr>
<% end %>
</table>

<br />
