<% if notice %> <p id="notice"><%= notice %></p> <% end %>

<div style= "width:100%;height:75px;border-bottom:1px solid white;">
	<h1>Menu</h1>
</div>

<% @products.each do |product| %>
<div class="entry"> 
	<h3><%= product.title %></h3>
	<%= image_tag(product.image_url, :height => '300') %>
	<IT><%=sanitize product.description %></IT>
	<div id="price_line">
		<span class="price">
			<%= number_to_currency(product.price) %></br></br>
		</span> 
	</div>
		
	<td class="stand_lines"><%= link_to image_tag("add_to_cart.png", :border =>0), line_items_path(:product_id => product), :method => :post%></td>
	
	
</div>
<% end %>
