<!DOCTYPE html>
<html> <head>
<!--<title>Stadium Express</title> -->
<%= stylesheet_link_tag "scaffold" %> <%= stylesheet_link_tag "depot", :media => "all" %>
 <%= javascript_include_tag :defaults %> <%= csrf_meta_tag %>
</head> 

<body id="store" >
	<div id="banner"> 
		<%= link_to image_tag("StadiumExpressLogo.png", :border => 0 ), root_path %>
	<!--	<%= @page_title || "      Stadium Express" %>-->
		</div> 
		
		<div id="columns">
		
			<% if !session[:user_id] %>		
		
				<div id="stripe">
					<div id="cart">
						<%= render current_cart unless @hide_cart%>
					</div>
				</div>
			
				<div id="main">
					<%= yield %>
				</div>
				
				<div id="bottom">
					<table>
						<tr>
							<%= link_to image_tag("Vendor.png", :border => 0), login_path%> <br/>
						</tr>	
						<tr>
							For more information, please contact stadiumexp@gmail.com <br/>
						</tr>
					</table>
				</div>
			<% end %>
		
		
			<% if session[:user_id] %>
				<div id="stripe">
					
					<table>
						<tr>
							<td> <%= link_to image_tag("UserHome.png", :border => 0), root_path%> </td>
							<td> <%= link_to image_tag("orders.png", :border => 0),	line_items_path	%> </td>
							<td> <%= link_to image_tag("products.png", :border => 0), products_path %> </td>
							<td> <%= link_to image_tag("history.png", :border => 0), history_index_path %> </td>
							<td> <%= link_to image_tag("users.png", :border => 0),	users_path	%> </td>
							<td> <%= link_to image_tag("logout.png", :border =>0), logout_path, :method => :delete %> </td>
						</tr>
					</table>
					<div id="cart">
						<%= render current_cart unless @hide_cart %>
					</div>
				</div> 
				
				<% if flash[:notice] %>
			      <p class="notice"><%= flash[:notice] %></p>
			    <% end %>
		
				<div id="main2">
					<%= yield %>
				</div> 	
			<% end %>		
	</div>

	
</body> 
</html>
			
